@charset "UTF-8";
body {
  font-family: 'Lato';
  padding: 0px;
  margin: 0px;
  background: #F0F8FF;
  text-align: center; }

/* Estilos de Menu  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.header {
  height: 75px;
  /* background:rgb(85, 85, 84); */
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  background: #F0F8FF;
  height: 50px;
  padding-top: 10px; }
  .header ul {
    list-style-type: none; }
    .header ul li {
      margin-left: 5px;
      padding: 10px;
      display: inline-block; }

.headerBoots {
  height: 70px; }

.headerBoots__logo {
  width: 50px;
  position: relative;
  left: 20px;
  top: 0px; }

.hipervinculos {
  display: inline-block;
  width: 400px; }
  .hipervinculos li {
    float: left;
    text-align: center;
    align-items: center; }
  .hipervinculos li:hover {
    background: grey;
    color: white; }
  .hipervinculos a {
    display: block; }

.hipervinculos__linksMenu {
  text-decoration: none;
  list-style: none;
  color: black;
  font-weight: 700; }

.headerBootsRRHH {
  height: 50px; }

.hipervinculos__linksMenuResponsive {
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  margin-bottom: 70px; }

.espacio {
  padding: 3px; }

.hipervinculos__linksMenuResponsive:focus {
  color: black; }

.hipervinculosBoots {
  margin-top: 20px; }

.menuMedia {
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background: #F0F8FF; }

.menuMedia:focus {
  background: gray;
  color: white; }

.teclaMenu {
  display: none;
  margin: 0px; }

/* Animaciones Menu  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.efectoelementomenu-1 {
  animation-name: efectoMeno;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: 1; }

.efectoelementomenu-2 {
  animation-name: efectoMeno;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-iteration-count: 1; }

.efectoelementomenu-3 {
  animation-name: efectoMeno;
  animation-duration: 7s;
  animation-delay: 0s;
  animation-iteration-count: 1; }

.efectoelementomenu-4 {
  animation-name: efectoMeno;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-iteration-count: 1; }

.efectoelementomenu-5 {
  animation-name: efectoMeno;
  animation-duration: 9s;
  animation-delay: 0s;
  animation-iteration-count: 1; }

/* Estilos Main xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
h1 {
  margin-top: 10px;
  color: #3CDEA5;
  font-weight: 900;
  font-size: 30px; }

h2 {
  text-align: center;
  color: #3CDEA5;
  font-weight: 900;
  margin-bottom: 50px; }

.videoMain {
  width: 100%; }

.imagenesMail {
  width: 30%;
  padding-bottom: 50px; }

/* Logo Chat */
.logoChatPosition {
  position: fixed;
  top: 590px;
  right: 10px; }

.iconoChat {
  display: inline;
  width: 60px; }

.iconoChat:hover {
  cursor: pointer; }

.logoChatPosition:hover {
  cursor: pointer; }

.chatConversacion {
  /* border: #000 solid 1px; */
  border-radius: 10px;
  background-color: #d7f6f7;
  padding: 5px; }

.ventanaChat {
  width: 600px; }

.chatUsuario {
  width: 70%;
  height: 100px;
  background-color: #d7f6f7;
  border: none;
  border-radius: 10px; }

.imagenChat {
  width: 125px;
  height: 100px; }

.chatusuariocaja {
  padding: 0; }

.tituloModificado {
  font-size: 50px;
  top: 120px;
  position: absolute;
  color: white;
  font-weight: 900;
  margin-left: 10%; }

.seccionesMain {
  padding-top: 50px; }

.seccionesMain:hover {
  background: #E5E7E9;
  /* transform: scale(1.1); */ }

.seccionesMain__primerSection {
  display: flex;
  justify-content: end;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .seccionesMain__primerSection p {
    width: 500px;
    margin: 100px;
    margin-bottom: 150px; }

.seccionesMain__segundaSection {
  display: flex;
  justify-content: end;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .seccionesMain__segundaSection p {
    width: 500px;
    margin: 100px;
    margin-bottom: 150px; }

video {
  width: 1000px; }

/* Estilos Formulario xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.fomulario {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }

.fomulario__cajaformulario {
  /* border: solid black 1PX; */
  width: 600px;
  margin-bottom: 20px;
  margin-top: 30px; }

.cajaformulario__tituloForm {
  color: #5DDEB0; }

.botonDejarMensaje {
  margin-top: 50px;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: darkslategray solid 1px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
  border: none;
  background: #3CDEA5;
  margin-bottom: 20px;
  display: none;
  text-decoration: none; }

p {
  font-weight: bold; }

.formulario {
  display: flex;
  justify-content: center; }

.formulario h2 {
  color: #000; }

/* .formulario input{
    margin: 5px;
  } */
.formulario a {
  text-decoration: none; }

.botonesForm {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 10px;
  background-color: #3CDEA5;
  border: #3CDEA5 solid 1px;
  font-size: 15px;
  font-weight: 700; }

.botonesForm:hover {
  background: gray;
  color: white; }

.formularioEnmensaje {
  display: flex; }

/* Estilos Footer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.logodosRedes {
  width: 60px;
  height: 60px;
  padding: 10px; }

footer {
  padding-top: 20px;
  background: gray; }

.logodosRedesdos {
  width: 40px;
  height: 40px;
  padding: 10px; }

/* Estilos Seccion Contacto xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.listContacto {
  list-style: none; }
  .listContacto li {
    margin: 50px;
    font-size: 20px; }

/* Estilos Seccion Paquete xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.paquetes {
  width: 1200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 60px;
  align-content: center; }

.paquetes img {
  width: 400px;
  margin: 40px; }

.paquetes h3 {
  color: #3CDEA5;
  font-weight: 900;
  font-size: 25px; }

.botonPaquete {
  margin-top: 50px;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: darkslategray solid 1px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
  border: none;
  background: #F0F8FF; }

.botonPaquete:hover {
  background: grey;
  color: white;
  cursor: pointer; }

.contenedorPaquetes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

/* Estilos RRHH xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.pimerPuesto {
  width: 300px;
  padding: 10px;
  background: #F0F8FF;
  margin: 30px; }

.pimerPuesto:hover {
  background: gray;
  color: white;
  cursor: pointer;
  transform: scale(1.1); }

.pimerPuesto h3 {
  font-weight: 900;
  font-size: 20px; }

.pimerPuesto p {
  font-size: 15px; }

.pimerPuesto button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #F0F8FF;
  font-family: Lato;
  font-weight: 900; }

.pimerPuesto button:hover {
  background: #36E7F5;
  color: white;
  cursor: pointer; }

.contenedorPuestos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.videoRRHH {
  width: 100%; }

/* Estilos Historia  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.guiaHistoria {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px 400px 400px 400px;
  justify-content: center;
  align-items: center; }

.imagenesHistoria {
  margin: 50px;
  text-align: center; }

.imagenesHistoria p {
  font-weight: 500; }

.contenedorFechas {
  display: flex;
  width: 30%;
  height: 500px;
  justify-content: center;
  align-items: center; }

.contenedorFechados {
  display: flex;
  width: 30%;
  height: 500px;
  justify-content: center;
  align-items: center; }

.fechas {
  font-weight: 900;
  font-size: 50px;
  /* border: solid #36E7F5 2px; */
  padding: 50px;
  background-image: linear-gradient(to right, #F0F8FF, #36E7F5); }

/* .imagenesHistoriadentro{
      height: 100px;
      width: 500px;
      background: rebeccapurple;
    } */
.fechas:hover {
  background: grey;
  color: white;
  cursor: pointer; }

.textoHistoria {
  text-align: start; }

/* Media Query xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* Home para Tablets */
@media only screen and (max-width: 900px) {
  .tituloModificado {
    font-size: 30px; }
  .seccionesMain {
    padding-left: 30px;
    padding-right: 30px; }
  .seccionesMain p {
    font-size: 15px; }
  .fomulario__cajaformulario {
    display: none; }
  .botonDejarMensaje {
    display: block; }
  .botonDejarMensaje:hover {
    background: gray;
    color: white; }
  .seccionesMain__primerSection p {
    margin: 20px; }
  .seccionesMain__segundaSection p {
    margin: 20px; }
  .seccionesMain h2 {
    padding-bottom: 20px; }
  .seccionesMain {
    padding-bottom: 30px; }
  .cajaformulariomensaje {
    display: flex; }
  .botonDejarMensajedos {
    display: none; }
  .paquetes:hover {
    background: #E5E7E9; } }

@media only screen and (max-width: 450px) {
  .botonDejarMensaje {
    width: 200px; }
  .hipervinculos li {
    font-size: 15px; }
  .logoChatPosition {
    display: none; }
  .hipervinculos {
    width: 300px; }
  .header ul li {
    padding: 5px; }
  .headerBoots__logo {
    display: none; }
  .seccionesMain__primerSection {
    flex-wrap: wrap; }
  .seccionesMain__segundaSection {
    flex-wrap: wrap; }
  .imagenesMail {
    width: 80%;
    padding-bottom: 30px; }
  .seccionesMain__segundaSection p {
    margin-bottom: 30px;
    margin: 10px; }
  .seccionesMain__primerSection p {
    margin: 10px; }
  .tituloModificado {
    display: none;
    font-size: 30px;
    top: 170px;
    left: 40px; }
  .tituloModificadorrhh {
    font-size: 30px;
    left: 0px;
    top: 100px;
    margin-left: 0px; }
  .titulosPaginas {
    margin-top: 30px;
    font-size: 25px; }
  .titulosSecciones {
    height: 30px; }
  .imagenCelular {
    margin-top: 40px; }
  .teclaMenu {
    display: flex; }
  .headerBoots {
    display: none; }
  .headerBootsRRHH {
    display: flex;
    justify-content: start; }
  .paquetes img {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .botonPaquete {
    width: 250px;
    font-size: 15px; }
  .paquetes {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .paquetes:hover {
    background: #E5E7E9; }
  .tamañoMenu {
    padding: 0px;
    margin: 0px;
    height: 135px; }
  .pimerPuesto {
    width: 270px; }
  .mapa {
    width: 100%; }
  .datosContacto {
    width: 300px; }
  .listContacto li {
    font-size: 15px; }
  .textoHistoria {
    text-align: center; } }

@keyframes efectoMeno {
  0% {
    color: #F0F8FF; }
  100% {
    color: black; } }
